body {
  width: 100%;
  margin: 0cap;
}

.container {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .container {
    gap: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    gap: 1px;
  }
}
@media screen and (max-width: 809px) {
  .container {
    gap: 200px;
  }
}
@media screen and (max-width: 322px) {
  .container {
    gap: 5px;
  }
}
.container .tbc {
  display: none;
}
@media screen and (max-width: 376px) {
  .container .tbc {
    display: flex;
  }
}
.container .logos {
  width: 20px;
  display: flex;
}
@media screen and (max-width: 376px) {
  .container .logos {
    display: none;
  }
}
.container nav {
  display: flex;
  width: 500px;
  margin-right: 200px;
}
.container nav .img {
  display: none;
}
@media screen and (max-width: 322px) {
  .container nav .img {
    display: flex;
  }
}
@media screen and (max-width: 1050px) {
  .container nav .img {
    display: flex;
    margin-left: 10px;
  }
}
.container ul {
  display: flex;
  gap: 30px;
}
.container li {
  display: flex;
  width: 110px;
  color: white;
  font-size: 18px;
}
@media screen and (max-width: 1050px) {
  .container li {
    display: none;
  }
}
.container .li {
  color: white;
  width: 100px;
  font-size: 20px;
}
.container .li p {
  color: black;
  margin-left: -80px;
  font-size: 20px;
}
.container .search {
  display: flex;
  height: 20px;
  gap: 10px;
  padding-top: 20px;
}
@media screen and (max-width: 1050px) {
  .container .search {
    display: none;
  }
}
.container .search input {
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}
@media screen and (max-width: 1050px) {
  .container .search input {
    display: none;
  }
}
.container .head {
  display: flex;
}
@media screen and (max-width: 1450px) {
  .container .head {
    gap: 120px;
  }
}
.container :hover li {
  cursor: pointer;
}
.container .tbc {
  display: none;
}
@media screen and (max-width: 315px) {
  .container .tbc {
    display: flex;
  }
}

.geo {
  background-image: url(../images/geo.jpg);
  background-position: center;
  background-size: cover;
  margin: 0cap;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 600px;
  background-repeat: no-repeat;
  width: 100%;
}
.geo h1 {
  color: white;
  padding-top: 315px;
  font-size: 50px;
  padding-left: 70px;
  height: 5px;
}
.geo p {
  color: white;
  padding-left: 70px;
  font-size: 40px;
}

h2 {
  margin-top: 100px;
  margin-left: 70px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cards .main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cards .card1 {
  width: 310px;
  height: 430px;
  border-style: solid;
  border-color: rgb(247, 245, 245);
  border-width: 2px;
}
.cards .card1 img {
  height: 200px;
}
.cards .card1 .floor {
  padding-left: 5px;
  color: #6C757D;
}
.cards .card1 .floor h3 {
  color: black;
}
.cards .card1 .more {
  display: flex;
  justify-content: end;
  color: #6C757D;
}
.cards .card1 img {
  width: 310px;
}

.flag {
  background-image: url(../images/map.png);
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  margin-top: 100px;
}
.flag h2 {
  font-size: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}
@media screen and (max-width: 1140px) {
  .flag h2 {
    font-size: 50px;
  }
}

.block {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
}
.block div {
  border-style: solid;
  border-color: rgb(237, 235, 235);
  border-width: 1px;
}
.block div img {
  width: 310px;
  height: 200px;
}
.block div h4 {
  font-size: 20px;
  color: red;
  margin-left: 40px;
}
@media screen and (max-width: 1070px) {
  .block {
    flex-direction: column;
    align-items: center;
  }
}

.much {
  font-size: 28px;
  margin-left: 75px;
}

h4:hover {
  cursor: pointer;
  color: darkred;
}

footer {
  width: 100%;
  background-color: darkred;
  margin-top: 149px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
footer .facebook {
  display: flex;
  gap: 10px;
}
footer .facebook img {
  width: 50px;
  height: 60px;
}
footer li {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .div3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .div3 .div1 {
  display: flex;
  gap: 10px;
}
footer .div3 .div1 p {
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 1070px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

a {
  text-decoration: none;
}

.abt {
  font-size: 50px;
}

.hi {
  width: 600px;
  font-size: 30px;
  margin-left: 55px;
}

.hello {
  font-size: 30px;
  width: 1440px;
  margin-left: 55px;
}

.places {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 30px;
}

.places2 {
  margin-top: 200px;
  border-top-style: solid;
  border-color: #6C757D;
  border-width: 1px;
}

.about {
  display: flex;
  gap: 10px;
  align-items: center;
}
.about .photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about .photo img {
  width: 500px;
}

.nav {
  display: flex;
  gap: 100px;
  width: 1000px;
}

.servieces {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.servieces .tt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servieces p {
  margin-left: 310px;
  font-size: 35px;
}
.servieces ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 25px;
  color: black;
  height: 400px;
  border-top: solid rgba(0, 0, 0, 0.2) 1px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  width: 1100px;
  align-items: center;
  justify-content: center;
}
.servieces ul li {
  width: 900px;
}

.tour {
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tour .p2 {
  font-size: 25px;
  color: grey;
  width: 950px;
  height: 200px;
}
.tour .p1 {
  font-size: 35px;
  width: 1000px;
  height: 50px;
  margin-left: 50px;
}

.cost {
  width: 80%;
  height: 400px;
  background-color: green;
  margin: 0 auto;
  margin-top: 100px;
}
.cost .money {
  width: 100%;
  height: 70px;
  border: solid 1px white;
  display: flex;
  justify-content: space-between;
}
.cost .money p {
  color: white;
  font-size: 30px;
}

.newss {
  margin-left: 50px;
  margin: 150px;
}

.news {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.news .add {
  font-size: 25px;
  width: 1000px;
}
.news .time {
  display: flex;
  gap: 10px;
  text-align: top;
  height: 50px;
}
.news .time p {
  color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
.news .time img {
  width: 20px;
  margin-top: 5px;
}

.news2 {
  width: 100%;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding-top: 50px;
  gap: 20px;
}
.news2 img {
  width: 200px;
  height: 200px;
  margin-bottom: 60px;
}
.news2 .p1 {
  font-size: 20px;
  width: 100% px;
}
.news2 .p2 {
  color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
.news2 .time {
  display: flex;
  gap: 10px;
  text-align: top;
  height: 50px;
}
.news2 .time img {
  width: 20px;
  margin-top: -70px;
}

.hellloo {
  display: flex;
  gap: 20px;
}
.hellloo .p3 {
  font-size: 20px;
}

.guide {
  display: flex;
  gap: 20px;
}
.guide img {
  width: 450px;
}

.contacts {
  width: 90%;
  height: 300px;
  display: flex;
  margin-bottom: 100px;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
  font-size: 35px;
}
.contacts p {
  width: 100%;
}
.contacts h3 {
  width: 100%;
}

.with_guide {
  display: flex;
  width: 900px;
  margin: 0 auto;
  gap: 50px;
  margin-top: 50px;
}
.with_guide img {
  width: 300px;
}
.with_guide h4 {
  color: black;
  font-size: 15px;
}

.text {
  width: 1000px;
  margin: 0 auto;
}
.text h2 {
  font-size: 30px;
}
.text p {
  font-size: 25px;
}

.box {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  margin-top: 100px;
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
}
.box .kakheti {
  background-image: url(../images/kakheti.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.box .kakheti input {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  opacity: 0.8;
  border: 0cap;
}
.box .seemore {
  width: 300px;
  height: 50px;
  margin-top: -167px;
  display: flex;
  justify-content: flex-end;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
.box .seemore input {
  width: 100px;
  height: 50px;
  background-color: white;
  border: 0cap;
}
.box .kutaisi {
  background-image: url(../images/kutaisi.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.box .kutaisi input {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  opacity: 0.8;
  border: 0cap;
}
.box .borjomi {
  background-image: url(../images/borjomi.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.box .borjomi input {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  opacity: 0.8;
  border: 0cap;
}
.box .ufliscixe {
  background-image: url(../images/ufliscixe.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.box input {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  opacity: 0.8;
  border: 0cap;
}

.infor {
  display: flex;
  background-color: green;
  height: 185px;
  justify-content: space-around;
  margin-top: 90px;
}
.infor img {
  width: 40px;
}
.infor div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.infor div p {
  font-size: 30px;
  color: white;
}
.infor div .loc {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.describe {
  margin-top: 100px;
  margin-left: 50px;
}
.describe p {
  width: 1200px;
  font-size: 20px;
}
.describe .plan h3 {
  font-size: 25px;
}
.describe .plan p {
  font-size: 20px;
  width: 1000px;
}/*# sourceMappingURL=style.css.map */