@mixin input{ width: 200px;
    height: 50px;
    background-color: white;

    color: black;
    font-size: 15px;
    opacity: 0.8;
    border: 0cap;}

@mixin box {  width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 100px;}


@mixin head { 


    background-position: center;
  background-size: cover;
  margin: 0cap;
  display: flex;
  flex-direction: column;
  gap: 1px;

  height: 600px;
  background-repeat: no-repeat;
  width: 100%;


  

  h1 {
    color: white;
    padding-top: 315px;
    font-size: 50px;
    padding-left: 70px;
    height: 5px;


    @media screen and (max-width: 1140px) {
      font-size: 50px;
      width: 300px;
      margin-bottom: 80px;
    }
  }

  p {
    color: white;
    padding-left: 70px;
    font-size: 40px;
  }
}


    