@import 'variables';
@import 'mixins';

body {
  //   max-width: 1600px;
  width: 100%;
  margin: 0cap;
}

.container {
  width: 100%;
  height: 80px;
  background-color: $header-color;
  display: flex;
  position: fixed;
  justify-content: space-between;

  @media screen and (max-width: 1300px) {
    gap: 50px;
  }

  @media screen and (max-width: 1100px) {
    gap: 1px;
  }

  @media screen and (max-width: 809px) {
    gap: 200px;
  }

  @media screen and (max-width: 322px) {
    gap: 5px;
  }

  .tbc {
    display: none;

    @media screen and (max-width: 376px) {
      display: flex;
    }
  }

  .logos {
    width: 20px;
    display: flex;

    @media screen and (max-width: 376px) {
      display: none;
    }
  }

  nav {
    display: flex;
    width: 500px;
    margin-right: 200px;

    .img {
      display: none;

      @media screen and (max-width: 322px) {
        display: flex;
      }

      @media screen and (max-width: 1050px) {
        display: flex;
        margin-left: 10px;
      }
    }
  }

  ul {
    display: flex;
    gap: 30px;


    @media screen and (max-width: 1450px) {}
  }

  li {
    display: flex;
    width: 110px;
    color: white;
    font-size: 18px;

    @media screen and (max-width: 1050px) {
      display: none;
    }
  }

  .li {
    color: white;
    width: 100px;
    font-size: 20px;


    p {
      color: black;
      margin-left: -80px;
      font-size: 20px;
    }
  }

  .search {
    display: flex;
    height: 20px;
    gap: 10px;
    padding-top: 20px;

    @media screen and (max-width: 1050px) {
      display: none;
    }

    input {
      background-color: $li-color;
      border-color: $li-color;

      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }

  .head {
    display: flex;

    @media screen and (max-width: 1450px) {
      gap: 120px;
    }
  }

  :hover li {
    cursor: pointer;
  }

  .tbc {
    display: none;

    @media screen and (max-width: 315px) {
      display: flex;
    }
  }
}

.geo {
  background-image: url(../images/geo.jpg);
  @include head}
h2 {
  margin-top: 100px;
  margin-left: 70px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card1 {
    width: 310px;
    height: 430px;
    border-style: solid;
    border-color: rgb(247, 245, 245);
    border-width: 2px;

    p{ font-size: 15px;}

    img {
      height: 200px;
    }

    .floor {
      padding-left: 5px;
      color: $text-color;

      h3 {
        color: black;
      }
    }

    .more {
      display: flex;
      justify-content: end;
      color: $text-color;
    }

    img {
      width: 310px;
    }
  }
}

// .animation {
//     width: 1400px;
//     margin-top: 100px;
//     height: 600px;
//     display: flex;
//     background-image: url(../images/map.png);
//     background-repeat: no-repeat;

//     margin-left: 700px;

// }

// .car{  animation-name: car;
//     animation-duration: 10s;
//     display: flex;
//     align-items: center;
//     margin-left: -700px;
//     animation-iteration-count: infinite;
// }

// @keyframes car {
//     from {
//         margin-left: -700px;
//     }

//     to {
//         margin-left: 0px;
//     }
// }

// .georgia{ width: 100%;
// height: 550px;
// border-style: solid;
// border-color: red;
// border-width: 2px;
// margin-top: 50px;

.flag {
  background-image: url(../images/map.png);

  width: 100%;

  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  margin-top: 100px;

  h2 {
    font-size: 200px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;

    @media screen and (max-width: 1140px) {
      font-size: 50px;
    }
  }
}

.block {
  display: flex;
  margin-top: 100px;
  justify-content: space-around;

  padding-top: 50px;

  border-top: solid 1px $header-color;
  width: 100%;
  height: auto;

  div {
    border-style: solid;
    border-color: rgb(237, 235, 235);
    border-width: 1px;

    img {
      width: 310px;
      height: 200px;
    }

    h4 {
      font-size: 20px;
      color: red;
      margin-left: 40px;
    }
  }

  @media screen and (max-width: 1070px) {
    flex-direction: column;
    align-items: center;
  }
}

.much {
  font-size: 28px;
  margin-left: 75px;
}

h4:hover {
  cursor: pointer;
  color: darkred;
}

footer {
  width: 100%;
  background-color: darkred;
  margin-top: 149px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;

  .facebook {
    display: flex;
    gap: 10px;

    img {
      width: 50px;
      height: 60px;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .div3 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .div1 {
      display: flex;
      gap: 10px;

      p {
        color: white;
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 1070px) {
    flex-direction: column;
    align-items: center;
  }
}

a {
  text-decoration: none;
}

.abt {
  font-size: 50px;
}

.hi {
  width: 600px;
  font-size: 30px;
  margin-left: 55px;
}

.hello {
  font-size: 30px;
  width: 1440px;
  margin-left: 55px;
}

.places {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 30px;
}

.places2 {
  margin-top: 200px;
  border-top-style: solid;
  border-color: $text-color;
  border-width: 1px;
}

.about {
  display: flex;
  gap: 10px;
  align-items: center;

  .photo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 500px;
    }
  }
}

.nav {
  display: flex;
  gap: 100px;
  width: 1000px;
}

.servieces {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;


  .tt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  p {
    margin-left: 310px;
    font-size: 35px;
  }

  ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
    color: black;
    height: 400px;
    border-top: solid $header-color 1px;
    border-bottom: solid $header-color 1px;
    ;
    width: 1100px;
    align-items: center;
    justify-content: center;

    li {
      width: 900px;
    }
  }
}

.tour {
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: solid 1px $header-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .p2 {
    font-size: 25px;
    color: grey;
    width: 950px;
    height: 200px;
  }

  .p1 {
    font-size: 35px;
    width: 1000px;
    height: 50px;
    margin-left: 50px;
  }
}

.cost {
  width: 80%;
  height: 400px;
  background-color: green;
  margin: 0 auto;
  margin-top: 100px;

  .money {
    width: 100%;
    height: 70px;
    border: solid 1px white;
    display: flex;
    justify-content: space-between;

    p {
      color: white;
      font-size: 30px;
    }
  }
}


.newss {
  margin-left: 50px;
  margin: 150px;
}



.news {

  border-top: solid 1px $header-color;

  width: 100%;

  .add {
    font-size: 25px;
    width: 1000px;

  }

  .time {
    display: flex;
    gap: 10px;
    text-align: top;
    height: 50px;

    p {
      color: $header-color;
      font-size: 20px;
    }

    img {
      width: 20px;
      margin-top: 5px;
    }
  }
}

.news2 {
  width: 100%;

  border-top: solid 1px $header-color;
  padding-top: 50px;
  gap: 20px;

  img {
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
  }

  .p1 {
    font-size: 20px;
    width: 100%px;
  }

  .p2 {
    color: $header-color;
    font-size: 20px;
  }

  .time {
    display: flex;
    gap: 10px;
    text-align: top;
    height: 50px;

    img {
      width: 20px;
      margin-top: -70px;
    }
  }
}


.hellloo {
  display: flex;
  gap: 20px;

  .p3 {
    font-size: 20px;
  }
}

.guide {
  display: flex;
  gap: 20px;

  img {
    width: 450px;
  }
}


.contacts {
  width: 90%;
  height: 300px;
  display: flex;

  margin-bottom: 100px;

  gap: 100px;
  align-items: center;
  justify-content: center;

  p {
    width: 100%;
  }

  h3 {
    width: 100%;
  }


  margin: 0 auto;
  margin-top: 150px;
  font-size: 35px;
}


.with_guide {
  display: flex;
  width: 900px;
  margin: 0 auto;
  gap: 50px;
  margin-top: 50px;



  img {
    width: 300px;
  }

  ;

  h4 {
    color: black;
    font-size: 15px;
  }
}


.text {
  width: 1000px;
  margin: 0 auto;

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }
}



.box {
  display: flex;

  justify-content: space-around;
  padding-top: 100px;
  margin-top: 100px;

  border-top: 1px $header-color solid;

  .kakheti {
    background-image: url(../images/kakheti.jpg);
 @include box;


    input {
   @include input;
  }}




.seemore {
  width: 300px;
  height: 50px;
  margin-top: -167px;
  display: flex;
  justify-content: flex-end;
  border: 1px $header-color solid;

  input {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 0cap;
  }
}  


.kutaisi{  background-image: url(../images/kutaisi.jpg);
@include box;



  input {
    @include input;
  }}  


.borjomi{  background-image: url(../images/borjomi.jpg);
 @include box;

  input {
 @include input;
  }}  

.ufliscixe{ background-image: url(../images/ufliscixe.jpg);
  @include box
}  

input{ @include input}}



.infor{ 
  display: flex;
  background-color: green;
  height: 185px;
  justify-content: space-around;
  margin-top: 90px;
  



  img{ width: 40px;}
  div{ display: flex;
 align-items: center;
 gap: 10px;
    
    
    p{ font-size: 30px;
    color: white;}
  
  .loc{ background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  border-radius: 50%;}}
}


.describe{ margin-top: 100px;
  margin-left: 50px;
  



p{ width: 1200px;
font-size: 20px;}

  .plan{ 

    h3{ font-size: 25px;}
    p{ font-size: 20px;
    width: 1000px;}
  }

}


.kacxi{ font-size: 60px;
width: 100%;
margin: 0 auto;
display: flex;
justify-content: center;
margin-top: 90px;
height: 110px;
border-bottom: solid 1px $header-color;}

.sveti{ margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;


  img{ width: 500px;
  height: 500px;}


  .kruberi{ 
    img{ 
      width: 700px;
      
    }
  }


  .gegma{ 

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    p{ margin-left: 300px;
    width: 300px;
  margin-top: 5px;
height: 30px;}
  }

  p{ font-size: 20px;
  width: 1000px;}


  img{ width: 1000px;}
}

.sveti2{ 
  display: flex;
  justify-content: space-around;
  height: 400px;
  border-bottom: solid 1px $header-color;
  margin-top: 50px;
  margin-bottom: 50px;

  img{ height: 300px;
  width: 500px;};

  p{ width: 500px;
  
  font-size: 20px;}
}



.history {
  background-image: url(../images/history.jpg);
 @include head;
}


